<p>users works!</p>
<button [routerLink]="['/add-user']">Add User</button>
<div *ngIf="Users">
  <table class="redTable">
    <thead>
      <tr>
        <th>Email</th>
        <th>password</th>
        <th>Role</th>        
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="4">
          <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <tr *ngFor="let user of Users">
        <td>{{user.email}}</td>
        <td>{{user.password}}</td>
        <td>{{user.roleId}}</td>        
      </tr>
    </tbody>
  </table>
</div>

